
/* --------------------------------------------------------------------------------------------- */
/* style */
body{
  background-color: #ab2912;
  color: rgb(8, 7, 7);
  font-size: 20px;
  font-family: calibri;
  font-weight: 100;
  margin: auto;  
}
/* --------------------------------------------------------------------------------------------- */
/* CONTAINER START */
.container {
  max-width: 100%;
  margin: 0 1.2rem 0 1.2rem;
  padding-top: 0;
  background-color: cadetblue;
  flex-wrap: wrap;
  border-top: 2rem solid silver;
  border-left: 2px solid silver;
  border-right: 2px solid silver;
}
.logo-skl{
  float: right;
  max-width: 55px;
  margin-top: -81px;
  margin-right: 1.7rem;
}
.list-menu{
  padding: 3px;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.channel{
  background-color: black;
  max-height: 2rem;
  color: white;
  font-size: 12px;
  font-family: verdana;
  padding: 0.4rem;
  border-bottom: 2px solid silver;
}

/* sub menu start*/

.dropbtn { 
  background-color: silver;
  color: black;
  padding: 4px 19px;
  font-size: 13px;  
  border: none;
  border-radius: 3px;
  max-width: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative; 
  display: inline-block;
  margin: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #62dfe8;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:azure;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.menu .judul{
  margin-top: 2px;
}
/* Change the background color of the dropdown button whe


/* sub menu end */



/* .menu ul{
  padding: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
} */
.judul{
  font-size: larger;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 20px; 
  color: rgb(243, 115, 3);
  -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgb(10, 8, 7);
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.9;color:yellow}
}
.blink{
  text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
@media (max-width: 1024px){
  .menu{
    margin: auto;
  }
}


/* MAIN START */

.main { 
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  padding: 0.4rem;
  margin: auto;
  max-width: 1350px;
}
.dokumen1{
  display: flex;
  margin: auto;
  max-width: 100%;
  padding: 1.5rem 1rem;
  /* background-color: chocolate; */
  flex-wrap: wrap;
  gap: 25px;
}
.artikel{
  border: none;
  margin: auto;
}

.gambar-teks1 {
  float: left;
  width: 240px;
  margin: 0 15px 0 0;
  border-radius: 8px;
  border: 1px solid silver;
}
.gambar-teks2 {
  float: right;
  width: 240px;
  margin: 0 0 0 15px;
  border-radius: 8px;
  border: 1px solid silver;
}

.artikel p {
  margin: 0 auto;
  /* background-color: aqua;  */
  max-width: 850px;
  text-align: justify;
}
.judul-artikel1{
  padding: 0 0 0 0.4rem ;
  margin-top: -0.2rem;
  background-color: silver;
  color: black;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(68, 62, 62);
    border: 0.3px solid rgb(19, 19, 19);
    font-weight: bold;
}
.contentl{
  max-width: 400px;
  background-color: burlywood;
  padding: 0 1rem;
  margin: auto;
}
.penulis{
  margin-top: 1rem;
  color: rgb(22, 22, 21);
}
.penulis span a{
  text-decoration: none;
  color: blue;
}
.penulis span a:hover{
 color: white;
}
.filosofi{
  color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  
}




.sidebar {
  position:grid;
  max-width: 360px;
  padding: 0 1rem;
  /* background-color: blue;   */
  box-sizing: border-box;
  margin-top: -0.2rem;
  
}

.judul-gambar1{
  margin: 0 auto 0.4rem;
  padding-left: 0.4rem;
  
}
.judul-gambar2{
  margin: 0 auto 0.4rem;
  padding-left: 0.4rem;
  
}
.judul-gambar3{
  margin: 0 auto 0.4rem;
  padding-left: 0.4rem; 
  
}
.judul-gambar1, .judul-gambar2, .judul-gambar3, .judul-gambar4, .judul-gambar5, .judul-gambar6, .judul-gambar7, .judul-gambar8{
  background-color: rgba(46, 139, 86, 0.687);
  border-radius: 4px;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
  font-style: serif;
  color: white;
  font-weight: 100;
}

.judul-gambar4{
  margin: 0 auto 0.4rem;
  padding-left: 0.4rem;
}

.video {
width: 100%;
  border-radius: 8px;
}
.gambar2 img{
  width: 100%;
  /* border-radius: 8px; */
 
}

/* CAROUSEL CONTAINER */
.carousel-container {
  max-width: 850px;
  /* width: 80%; */
  max-height: 30rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.409); 
  padding: 0.6rem; 
  border-radius: 13px;
  border: 1px solid silver;
}
.carousel-container img{
  max-height: 30rem;
}
.carousel-container2 {
  max-width: 330px;
  /* width: 80%; */
  overflow: hidden;
  /* margin: auto; */
  /* position: relative; */
  margin-bottom: 1rem;
  
}

.carousel-slide {
  display: flex;
  max-width: 100%; /* 5 images, each takes 20% width */
  transition: transform 2.0s ease;
}
.carousel-slide img {
  width: 100%;
  border-radius: 10px;
}

/* CAROUSEL CONTAINER STOP*/

.kedai1, .kedai2, .kedai3, .kedai4{
  color: oldlace;
  padding: -1rem 1rem 0 0;
  padding-bottom: 3px;
  background-color: rgb(6, 24, 91);
  border-radius: 8px;
  border-bottom: 1px solid silver;
  list-style: square;
  text-decoration: none;
  list-style-type: none;
  margin-left: -2.5rem;
  text-align: center;
}
.kedai1:hover, .kedai2:hover, .kedai3:hover, .kedai4:hover{
  color: yellow;
  background-color: black;
}



.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    
}

.slide {
    display: none;
    position: relative;
    margin-bottom: 1rem;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(8, 9, 11, 0.343);
    padding: 0 10px;
    border-radius: 5px;
    max-width: 35rem;
    max-height: 15rem;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.link-slide1 a, .link-slide2 a, .link-slide3 a, .link-slide4 a{
  text-decoration: none;
  color: white;
  -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}
.link-slide1 a:hover, .link-slide2 a:hover, .link-slide3 a:hover, .link-slide4 a:hover{
  color: yellow;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: red;
}
.carousel-container3{
  background-color: rgb(32, 58, 223);
}
/* MAIN END */
/* KALENDERT START*/
.kalenderan{
  border: 1px solid black;
  border-radius: 8px;
}
.calendar {
  height: 20rem;
  max-width:22rem ;
  background-color: rgb(211, 209, 209);
  border-radius:6px;
  overflow: hidden;
  padding: 10px 20px 0px 20px;
  border: #151426;
}

.calendar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendar-header {
  background: #780dca;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
  padding: 5px;
}

.calendar-body {
  padding: 5px;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color: rgb(104, 104, 104);
}

.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  color: black;
  height: 20px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: black;
}

.calendar-days div {
  width: 22px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.month-picker {
  padding: 2px 7px;
  border-radius: 10px;
  cursor: pointer;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 20px;
  width: 14px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 5px;
  cursor: pointer;
}

.year-change:hover {
  background-color: #9796f0;
  transition: all .2s ease-in-out;
  transform: scale(1.12);
}

.calendar-footer {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #fbc7d4;
  border-radius: 10%;
  color: #f8fbff;
}

.calendar-days div.current-date {
  color: #f8fbff;
  background-color: #adacf0;
  border-radius: 20%;
}

.month-list {
  position: relative;
  left: 0;
  top: -130px;
  background-color: #ebebeb;
  color: #151426;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2px;
  border-radius: 10px;
}

.month-list>div {
  display: grid;
  place-content: center;
  margin: 2px 5px;
  transition: all 0.2s ease-in-out;
}

.month-list>div>div {
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
}

.month-list>div>div:hover {
  background-color: #9796f0;
  color: #f8fbff;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}

.month-list.hideonce {
  visibility: hidden;
}

.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}

.date-time-formate {
  height: 2rem;
  width: 100%;
  font-family: Tahoma, sans-serif, Century Gothic;
  position: relative;
  display: flex;
  top: 30px;
  justify-content: center;
  align-items: center;
}

.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 1rem;
  padding-right: 5%;
  border-right: 2px solid #9796f0;
}

.date-time-value {
  display: block;
  position: relative;
  text-align: center;
  padding-left: 5%;
}

.time-formate {
  font-size: 0.9rem;
}

.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
  animation: showtime 1s forwards;
}

.time-formate.showtime {
  animation: showtime 1s forwards;
}

.date-formate.showtime {
  animation: showtime 1s forwards;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }

  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }

  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }

  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}

/* KALENDERT END*/









/* --------------------------------------------------------------------------------------------- */
/* CONTAINER END */
/* FOOTER START */
.footer{
  text-align: center;
  justify-content: space-evenly;
  color:tomato;
  font-size: 18px;
  /* padding-top: 5px; */
  background-color: rgb(30, 30, 30);
  height: 3.5rem;
  border-top: 2px solid silver;
  margin-top: 5px;
}
.footer .kontak a{
  text-decoration: none;
  text-align: center;
  
}
.footer .kontak2 a{
  text-decoration: none;
  text-align: center;
  padding-top: 0;
}
.footer h5 span a:hover{
  background-color: rgba(239, 239, 148, 0.472);
}

/* --------------------------------------------------------------------------------------------- */
@media(max-width: 1024px){
  .menu{
      order: inherit;
      grid-template-columns: 1fr;
  }


}
@media(max-width: 1000px){
  .menu{
      order: -1;
      justify-items: end;
  }
  
  .text {
    width: 35rem;
    font-size: 70%;
}
.prev, .next {
  z-index: 9999;
}
.container .sidebar {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;

  }
.carousel-container2{
  max-width: 800px;
}
}


@media(max-width: 500px){
  .container{
    font-size: 60%;
  }
  .gambar-teks1, .gambar-teks2{
    width: 40%;
  }
  .footer{
    font-size: 60%;
  }
  .judul-artikel1{
    font-size: 80%;
  }
  .container{
    border-radius: 0.1px;
  }
  
.text {
  font-size: 70%;
}

}



/* --------------------------------------------------------------------------------------------- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.cover{
  border: 1px solid black;
  box-sizing: border-box;
  background-color: seagreen;
  margin-bottom: 5px;
  padding: 2px;
  border-radius: 8px;
  height: 13rem;
}

.slideshow-container {
  position: relative;
  max-width: 35rem;
  overflow: hidden;
  border-radius: 5px;
}

.slideshow {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.hidden {
  display: none;
}

